
@{
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <div class="container ">
        <form>

            <!--  start driver name -->

            <div class="form-group">
                <!--for driver name-->
                <div class="row">
                    <div class="col-md-5 inputGroupContainer">
                        <label for="inputDirver" class=" control-label">اضف سائق جديد</label>


                        <div class="input-group">


                            <input placeholder="" class="form-control" type="text" id="inputDirver">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        </div>

                    </div>

                    <div class="col-md-6 inputGroupContainer">
                        <label for="inputToAddress" class=" control-label">قائمة السائقين  </label>

                        <div class="input-group">


                            <select name="fromAddres" class="form-control" id="drivers" style="float:right;">

                                <option selected> الرجاء اختار اسم السائق</option>

                                <option> وائل سحويل</option>
                                <option> محمد</option>
                                <option> محمود</option>

                            </select>

                            <span class="input-group-addon"> <i class="glyphicon glyphicon-home"></i></span>


                        </div>

                    </div>

                    <div class="col-md-1">

                    </div>


                </div>
            </div>
            <!--end driver name-->
            <!-- start identify driver-->
            <div class="form-group">

                <div class="row">
                    <div class="col-md-5 inputGroupContainer">
                        <label for="inputDirver" class=" control-label">اضف  هوية سائق جديد</label>


                        <div class="input-group">


                            <input placeholder="" class="form-control" type="text" id="inputDirver">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                        </div>

                    </div>

                    <div class="col-md-6 inputGroupContainer">
                        <label for="inputToAddress" class=" control-label">قائمة  هوية السائقين  </label>

                        <div class="input-group">


                            <select name="fromAddres" class="form-control" id=" identifyDrivers" style="float:right;">

                                <option selected> الرجاء اختار رقم هوية السائق</option>

                                <option> 860005454</option>
                                <option> 5464</option>
                                <option> 455415</option>

                            </select>

                            <span class="input-group-addon"> <i class="glyphicon glyphicon-barcode"></i></span>


                        </div>

                    </div>


                    <div class="col-md-1"></div>

                </div>
            </div>

            <!--end driver identify-->
            <!-- start idCar-->
            <div class="form-group">

                <div class="row">
                    <div class="col-md-5  inputGroupContainer">
                        <label for="inputDirver" class=" control-label">اضف رقم سيارة </label>


                        <div class="input-group">


                            <input placeholder="" class="form-control" type="text" id="inputDirver">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        </div>

                    </div>

                    <div class="col-md-6 inputGroupContainer">
                        <label for="inputToAddress" class=" control-label">قائمة رقم السيارة  </label>

                        <div class="input-group">


                            <select name="fromAddres" class="form-control" id=" cars" style="float:right;">

                                <option selected> الرجاء اختار رقم السيارة</option>

                                <option>855-4</option>
                                <option> 65-8</option>
                                <option> 5-32</option>

                            </select>

                            <span class="input-group-addon"> <i class="glyphicon glyphicon-pencil"></i></span>


                        </div>

                    </div>


                    <div class="col-md-1"></div>

                </div>
            </div>

            <!--end id car-->
            <!-- العنوان من -->
            <div class="form-group">

                <div class="row">
                    <div class="col-md-5  inputGroupContainer">
                        <label for="inputDirver" class=" control-label">اضف  مكان جديد  </label>


                        <div class="input-group">


                            <input placeholder="" class="form-control" type="text" id="inputDirver">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        </div>

                    </div>

                    <div class="col-md-6 inputGroupContainer">
                        <label for="inputToAddress" class=" control-label">بداية الطلب  </label>

                        <div class="input-group">


                            <select name="fromAddres" class="form-control" id="fromDest" style="float:right;">

                                <option selected> الرجاء اختار بداية الطلب</option>

                                <option>رام الله</option>
                                <option> القدس</option>
                                <option> نابلس</option>

                            </select>

                            <span class="input-group-addon"> <i class="glyphicon glyphicon-home"></i></span>


                        </div>

                    </div>


                    <div class="col-md-1"></div>

                </div>
            </div>
            <!-- نهاية االعنوان من -->
            <!-- to destu-->
            <div class="form-group">

                <div class="row">
                    <div class="col-md-5 inputGroupContainer">
                        <label for="inputDirver" class=" control-label">اضف  مكان جديد  </label>


                        <div class="input-group">


                            <input placeholder="" class="form-control" type="text" id="inputDirver">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        </div>

                    </div>

                    <div class="col-md-6 inputGroupContainer">
                        <label for="inputToAddress" class=" control-label">نهاية الطلب  </label>

                        <div class="input-group">


                            <select name="fromAddres" class="form-control" id="Dest" style="float:right;">

                                <option selected> الرجاء اختار نهاية الطلب</option>

                                <option>رام الله</option>
                                <option> القدس</option>
                                <option> نابلس</option>

                            </select>


                            <span class="input-group-addon"> <i class="glyphicon glyphicon-home"></i></span>


                        </div>

                    </div>


                    <div class="col-md-1"></div>

                </div>
            </div>
            <!-- end dest to -->



            <div class="form-group">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-6">
                        <!-- Example split danger button -->

                        <div class="btn-group">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                طريقة الدفع كاش ؟ <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" onchange="selectMenu1">
                                <li id="yes"><a href="#">نعم</a></li>
                                <li id="no"><a href="#">لا</a></li>


                            </ul>
                        </div>

                    </div>
                    <div class="class col-md-1"></div>

                </div>

            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5"></div>

                    <div class="col-md-6 inputGroupContainer">
                        <label for="price" class=" control-label">السعر   </label>


                        <div class="input-group">


                            <input placeholder="" class="form-control" type="text" id="inputCarNumber">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5"></div>

                    <div class="col-md-6 inputGroupContainer">



                        <div class="input-group">


                            <button placeholder="" class="form-control" type="submit" id="button">
                                تسجيل
                            </button>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>









        </form>

    </div>




    <Script src="js/popper.js"></Script>
    <script src="js/popper.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap.min.js"></script>


